body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: 200;
}

.header {
	background-color: #ffffff;
}

.main {
	background-size: 100px;
	background-color: #2D283E;
	float: right;
	width: 75%;
}

.photo {
	float: right;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
}

.contact {
	background-color: #4C495D;
	float: left;
	width: 25%;
	text-align: center;
}


h1, h3 {
	color: rgb(154, 51, 214);
}

h3 {
	font-size: 18px;
}

p {
	color: white;
	font-size: 14px;
}

a:link, a:visited {
	color: white;
}