title {
	color: black;
	font-size: 20px;
	text-align: center;
}

body {
	background-color: aliceblue;
}

table {
	color: teal;
	font-size: 14px;
	height: 100px;
	width: 45%;
}

th {
	text-align: center;
}

h1 {
	color:blue; 
	font-size: 22px;
	text-align: center;
}

h2 {
	color:rgb(62, 62, 179); 
	font-size: 16px;
	text-align: center;
}

p {
	color: rgb(161, 29, 161); 
	font-size: 12px;
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
}