body {
	background: #efefef;
	font-family: arial;
}
h1 {
	font-size 18px;
}
a {
	color: #000000;
	text-decoration: underline;
}
a:hover {
	color: #000000
	text-decoration: none;
}
h2 {
	font-size: 16px;
}
p {
	font-size: 14px;
}